---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$footerHeight: 160px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footerHeight + 46px;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.w-icon {
  height: 3em;
  padding: 0.5em;
}

@media (max-width: 767px) {
  .w-icon {
    display: block;
    width: 100%;
  }
}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $footerHeight;
    background-color: #333;
    border-top: 1px solid #e5e5e5;
    color: #777;
    padding-top: 2em;
    ul {
        padding: 0;
        li::after {
            content: " - ";
        }
        li:last-of-type::after {
            content: none;
        }
    }
    li {
        display: inline;
    }
}

/* http://work.smarchal.com/twbscolor/scss/c48b04986516ffdf7affd2470 */
$bgDefault      : #c48b04;
$bgHighlight    : #986516;
$colDefault     : #ffdf7a;
$colHighlight   : #ffd247;
$dropDown       : false;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            > .divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}
